<div class="side bar">
  <!--サイドバーの部分テンプレートく%= render~ %>-->
</div>
<div class="main">
  <div>
    <div class="top_text">
      <p>ようこそ、ながのCAKEへ！</p>
      <p>このサイトは、ケーキ販売のECサイトになります。</p>
      <p>会員でない方も商品の閲覧はできますが、</p>
      <p>購入には会員登録が必要になります。</p>
      <div class="background_image"><!--画像--></div>
    </div>
  </div>
  <table>
    <h2>新着情報</h2>
    <tr>
      <!--ここに商品が来る(く%= render 'items/index', ****: @**** %>になる？)-->
      <!--く%= link_to "すべての商品を見る>", items_index_path, %>-->
    </tr>
  </table>
</div>
