<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-4">
      <table class="table table-bordered">
        <tr>
          <th><div class="text-center">ジャンル検索</div></th>
        </tr>
        <% genres.each do |genre| %>
        <tr>
          <td><div class="text-center"><%= genre.name %></div></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>