<div class="col-md-3 my-5">
  <table class="list-box table-bordered"></table>
    <thead>
      <th class="list-box-genre text-center">ジャンル検索</th>
    </thead>
    <tbody>
      <% genres.each do |genre| %>
        <tb>
          <%= genre.name %>
        </tb>
      <% end %>
    </tbody>
  </table>
</div>