<div class="col-md-2 my-5">
  <ul class="list-box "></ul>
    <li class="list-box-genre text-center">ジャンル検索</li>
      <% genres.each do |genre| %>
        <li>
          <%= genre.name %></div></td>
        </li>
      <% end %>
  </ul>
</div>